<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <link rel="stylesheet" href="/css/page.css">
    <script src="/jquery/jquery-2.1.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:replace="navigation :: nav"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-search" aria-hidden="true">搜索-全部</span></h2>
            <hr/>
            <div class="questionList">

            </div>

            <div id="pagination1" class="page fl"></div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h2>热门话题</h2>

        </div>
    </div>
</div>
<div th:replace="footer :: foot"></div>
</body>
<script src="/jquery/layer/layer.js"></script>
<script src="/js/page.js"></script>
<script src="/js/search.js"></script>
</html>